* {
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{
background:#acacac;
color:white;
}


header{
height:250px;
background:#000000;
display:flex;
justify-content:center;
align-items:center;
}


header img{
max-width:200%;
max-height:100%;
}


nav{
background:#5f5f5f;
padding:10px;
}


.nav-links{
display:flex;
justify-content:center;
gap: 20px;
}


.nav-links a{
color:white;
text-decoration:none;
}


main{
max-width:1100px;
margin:auto;
margin-top:30px;
padding:20px;
}


footer{
background:#585858;
text-align:center;
padding:10px;
margin-top:40px;
}


.flex-section{
display:flex;
flex-wrap:wrap;
gap:15px;
}



.card{
background:#535353;
padding:15px;
border-radius:8px;
flex:1;
min-width:250px;
}


.image-box{
background:#888888;
padding:15px;
margin-top:25px;
margin-bottom:25px;
text-align:center;
}


.image-box img{
width:35%;
}


.gallery{
display:grid;
grid-template-columns:repeat(3, 1fr);
gap:12px;
max-width:700px;
margin:auto;
}

.gallery img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
}


@media (max-width:900px){
  .gallery{
    grid-template-columns:1fr 1fr;
    width:90%;
  }

  .image-box img{
    width:50%;
  }
}

@media (max-width:500px){
  .gallery{
    grid-template-columns:1fr;
  }

  .nav-links{
    flex-direction:column;
  }

  header{
    height:180px;
  }

  .image-box img{
    width:70%;
  }
}